#imagem1{
    width: 100%;
}
Body {
    font-size: 18px;
}
.titulo{
    text-align: center;
    background: #000000;
    margin-top: -287px;
    margin-left: 148px;
}
.chocolate{
    color: purple;
}
.fuck{
    color: #e3e3e9;
}
.bosta{
    width: 20%;
    margin-top: -257px;
}
.lindinha{
    width: 25%;
    margin-left: 976px;
    margin-top: -300px;
}
.fofa{
     width: 25%;
     margin-top: -169px;
}
.tmj{
    height: 290px;
    width: 25%;
    margin-left: 1020px;
    margin-top: -187px;
}
.besta{
    width: 25%;
    height: 258px;
    margin-right: 837px;
    margin-top: -441px;
}
.asd{
    margin-left: 315px;
    margin-top: 377px;
}
.foda{
    text-align: justify;
    margin-right: 520px;
    margin-bottom: 143px;
}
.amor{
    margin-top: 65px;
    margin-right: 384px;
    text-align: justify;
}
.paz{
    margin-left: 388px;
    margin-top: 26px;
}
.rancor{
    margin-right: 431px;
}
.poxa{
    margin-left: 372px;
}
.sla{
    width: 25%;
    height: 258px;
    margin-left: 850px;
    margin-top: -441px;
}